﻿body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    height: 85px;
    background-color: black;
    overflow: auto;
    display: block;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top: 16px; /*делаем отступ сверху*/
    background: rgb(0, 0, 0); /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: rgb(0, 0, 0); /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: Century Gothic; /*меняем шрифт*/
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

    a:hover {
        background: rgb(100, 96, 96); /*добавляем эффект при наведении*/
    }

li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    /*border-right: 1px solid #F36262; /*добавляем бордюр справа*/
}

ol {
    float: right;
    padding: 0px 0px;
    margin: 0px;
}

div {
    width: 1200 px;
    margin: 0 auto;
    overflow: hidden;
}

aside {
    width: 70%;
    float: right;
}

main {
    width: 30%;
}
footer {
    color: white;
    height: 85px;
    background-color: black;
    overflow: auto;
    display: block;
}