﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Пожалуйта, заполните данные</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <table>
            <tr>
                <td><p>Имя:</p></td>
                <td><input type="text" name="Person" /> </td>
            </tr>
            <tr>
                <td><p>Адрес:</p></td>
                <td>
                    <input type="text" name="Address" />
                </td>
            </tr>
            <tr><td><input type="submit" value="OK" /> </td><td></td></tr>
        </table>
    </form>
</div>