﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <aside>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.5163318849195!2d52.34651620100466!3d55.69739629311937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff5f4266ed09f%3A0x8c174854509713bf!2zMTYvMTcsINCd0LDQsdC10YDQtdC20L3Ri9C1INCn0LXQu9C90YssINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMzgwNg!5e0!3m2!1sru!2sru!4v1556524784577!5m2!1sru!2sru"
                    width="1200" height="1000" frameborder="0" style="border:none" allowfullscreen></iframe>
        </aside>
        <main>
            <h2 align="center">Мы находимся по адресу:</h2>
            <p align="center"> город Набережные Челны, поселок ЗЯБ, 16/17 </p>
            <h4 align="center">Адреса других библиотек города:</h4>
            <p align="center">адрес 1</p>
            <p align="center">адрес 2</p>
            <p align="center">адрес 3</p>
            <p align="center">адрес 4</p>
            <p align="center">адрес 5</p>
        </main>
    </div>
    <footer>
        <p align="center"> Библиотека города Набережные Челны, 2019</p>
    </footer>
</div>