﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <header>
            <ul>
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li><a href="#">Читателям</a></li>
                <li><a href="#">События</a></li>
                <li><a href="#">Издания</a></li>
                <li><a href="#">О бибилиотеке</a></li>
                <ol><a href="#">Вход/Регистрация</a></ol>
                <ol><a href="#">Корзина</a></ol>
            </ul>
        </header>
        @RenderBody()
    </body>
</html>